{% from "macros.jinja2" import render_error, render_form_field %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <title>Frontend Mentor | Contact form</title>

    <style>
      .attribution { font-size: 11px; text-align: center; }
      .attribution a { color: hsl(228, 45%, 44%); }
    </style>
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <main class="mb-2">      
      <h1 class="mt-2 mb-3">Contact Us</h1>      
      <form id="form" method="POST">
	{{ form.csrf_token }}
	<!-- first row -->
	<div class="row mb-2">
	  <div>
	    {{ render_form_field(form.first_name, has_autocomplete=true) }}
	  </div>

	  <div>
	    {{ render_form_field(form.last_name, has_autocomplete=true) }}
	  </div>
	</div>
	<!-- end first row -->

	<!-- second row -->
	<div class="mb-2">
	  {{ render_form_field(form.email, has_autocomplete=true) }}
	</div>
	<!-- end second row -->

	<!-- radio container -->
	<div class="mb-2">
	  {{ form.options.label }}
	  {{ form.options(required=false) }}
	  {{ render_error(form.options) }}
	</div>
	<!-- radio container end -->

	<!-- textarea -->
	<div class="mb-2">
	  {{ form.textarea.label(class_=("mb-1")) }}
	  {{ form.textarea(class_=("error" if form.textarea.errors else ""), rows="3", required=false) }}
	  {{ render_error(form.textarea) }}
	</div>
	<!-- textarea end -->
	
	<div class="my-4">		    
	  {{ form.checkbox(class_=("mr-2"))}}
	  {{ form.checkbox.label}}
	  {{ render_error(form.checkbox) }} 
	</div>
	
	<button>submit</button>
      </form>
    </main>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
	{% for category, message in messages %}
	  {% if category == 'success' %}
	    <div class="success">
	      <ul>
		<li>message sent!</li>
		<li>{{ message }}</li>	
	      </ul>
	    </div>
	  {% endif %}
	{% endfor %}
      {% endif %}
    {% endwith %}
    
    <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge">Frontend Mentor</a>. 
      Coded by <a href="#">Your Name Here</a>.
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
